# PM2.5 Speciation, lead, and ozone data

In [15]:
import pandas as pd
import numpy as np
import addfips

## data imports

In [2]:
# https://aqs.epa.gov/aqsweb/airdata/download_files.html#Daily

#pm2.5 speciation
pm19 = pd.read_csv('daily_SPEC_2019.csv')
pm20 = pd.read_csv('daily_SPEC_2020.csv')
pm21 = pd.read_csv('daily_SPEC_2021.csv')

#lead
lead19 = pd.read_csv('daily_LEAD_2019.csv')
lead20 = pd.read_csv('daily_LEAD_2020.csv')
lead21 = pd.read_csv('daily_LEAD_2021.csv')

#ozone
ozone19 = pd.read_csv('daily_44201_2019.csv')
ozone20 = pd.read_csv('daily_44201_2020.csv')
ozone21 = pd.read_csv('daily_44201_2021.csv')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## quick look

In [8]:
print('2019->', pm19.shape,' 2020-> ',pm20.shape,' 2021-> ',pm21.shape)
print('Columns: ',pm19.columns)
pm19.head(1)

2019-> (2000693, 29)  2020->  (1376492, 29)  2021->  (36228, 29)
Columns:  Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Date Local', 'Units of Measure', 'Event Type',
       'Observation Count', 'Observation Percent', 'Arithmetic Mean',
       '1st Max Value', '1st Max Hour', 'AQI', 'Method Code', 'Method Name',
       'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name',
       'CBSA Name', 'Date of Last Change'],
      dtype='object')

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,68102,1,33.553056,-86.815,WGS84,Sample Volume,24 HOUR,...,NaN,142,BGI Models PQ200-VSCC or PQ200A-VSCC - Calcula...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2020-03-25

In [9]:
print('2019-> ', lead19.shape,' 2020-> ',lead20.shape,' 2021-> ',lead21.shape)
print('Columns: ',lead19.columns)
lead19.head(1)

2019->  (12938, 29)  2020->  (10165, 29)  2021->  (442, 29)
Columns:  Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Date Local', 'Units of Measure', 'Event Type',
       'Observation Count', 'Observation Percent', 'Arithmetic Mean',
       '1st Max Value', '1st Max Hour', 'AQI', 'Method Code', 'Method Name',
       'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name',
       'CBSA Name', 'Date of Last Change'],
      dtype='object')

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,109,3,14129,1,31.790479,-85.978974,NAD83,Lead (TSP) LC,24 HOUR,...,NaN,44,Hi-Vol - Flameless Atomic absorption (GFAA) EP...,TROY LEAD,HENDERSON ROAD,Alabama,Pike,Troy,"Troy, AL",2020-07-01

In [12]:
print('2019-> ',ozone19.shape,' 2020-> ',ozone20.shape,' 2021-> ',ozone21.shape)
print('Columns: ',ozone19.columns)
ozone19.head(1)

2019->  (392252, 29)  2020->  (391923, 29)  2021->  (37694, 29)
Columns:  Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Date Local', 'Units of Measure', 'Event Type',
       'Observation Count', 'Observation Percent', 'Arithmetic Mean',
       '1st Max Value', '1st Max Hour', 'AQI', 'Method Code', 'Method Name',
       'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name',
       'CBSA Name', 'Date of Last Change'],
      dtype='object')

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,12,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2020-02-18

In [ ]:
# if you wanted to combine the datasets for and add a year column

#print(spec19.head()); print(spec20.head()); #print(spec21.head())
#spec19.head(2)
#spec19['collection_year'] = 2019;spec20['collection_year'] = 2020;spec21['collection_year'] = 2021
#PM25_speciation = pd.concat([spec19,spec20,spec21], ignore_index=True)
#PM25_speciation.head(2)

## add FIPS codes, not needed

In [ ]:
#example
#af = addfips.AddFIPS()
#print(af.get_state_fips('Alabama'))
#01
#print(af.get_county_fips('Jefferson','Alabama'))
#01073

In [13]:
#don't have to run, my intial take

af = addfips.AddFIPS()
pm19['fips'] = [af.get_county_fips(row._26,row._25) for row in pm19.itertuples()]
#pm20['FIPS'] = [af.get_county_fips(row._26,row._25) for row in pm20.itertuples()]
#pm21['FIPS'] = [af.get_county_fips(row._26,row._25) for row in pm21.itertuples()]

In [19]:
missingPM = []
for row in pm19.itertuples():
    if row.fips is None:
        missingPM.append((row._26,row._25))
np.unique(missingPM)

array(['Alaska', 'Aleutians East ', 'Denali ', 'Fairbanks North Star ',
       'Kenai Peninsula ', 'Matanuska-Susitna ', 'North Slope ',
       'St John', 'Virgin Islands'], dtype='<U21')

### actually add fips codes

In [20]:
# alex's function that adds leading zeros based off state and county codes

def FIPS_function(row):
    state = str(row['State Code']).zfill(2)
    county = str(row['County Code']).zfill(3)
    return state + county

In [21]:
pm19['fips'] = pm19.apply(lambda row: FIPS_function(row), axis=1)
pm20['fips'] = pm20.apply(lambda row: FIPS_function(row), axis=1)
pm21['fips'] = pm21.apply(lambda row: FIPS_function(row), axis=1)

In [22]:
missingPM = []
for row in pm19.itertuples():
    if row.fips is None:
        missingPM.append((row._26,row._25))
np.unique(missingPM)

array([], dtype=float64)

In [23]:
lead19['fips'] = lead19.apply(lambda row: FIPS_function(row), axis=1)
lead20['fips'] = lead20.apply(lambda row: FIPS_function(row), axis=1)
lead21['fips'] = lead21.apply(lambda row: FIPS_function(row), axis=1)

ozone19['fips'] = ozone19.apply(lambda row: FIPS_function(row), axis=1)
ozone20['fips'] = ozone20.apply(lambda row: FIPS_function(row), axis=1)
ozone21['fips'] = ozone21.apply(lambda row: FIPS_function(row), axis=1)

In [24]:
pm19.to_csv("./daily_pm25_speciation_2019_FIPS.csv",index=False)
pm20.to_csv("./daily_pm25_speciation_2020_FIPS.csv",index=False)
pm21.to_csv("./daily_pm25_speciation_2021_FIPS.csv",index=False)


lead19.to_csv("./daily_lead_2019_FIPS.csv",index=False)
lead20.to_csv("./daily_lead_2020_FIPS.csv",index=False)
lead21.to_csv("./daily_lead_2021_FIPS.csv",index=False)


ozone19.to_csv("./daily_ozone_2019_FIPS.csv",index=False)
ozone20.to_csv("./daily_ozone_2020_FIPS.csv",index=False)
ozone21.to_csv("./daily_ozone_2021_FIPS.csv",index=False)